<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Info</title>
</head>

<body>

    <header>
        <h1>Queste sono le info riguardanti la nostra azienda</h1>
    </header>

    <main>
        <ul>
            <li th:text="'Nome: ' + ${name}"></li>
            <li th:text="'Numero di telefono: ' + ${phoneNumber}"></li>
            <li th:text="'Email: ' + ${email}"></li>
        </ul>
    </main>

</body>

</html>