<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>

<body>
    <header>
        <h1>Benvenuti nella Homepage della nostra app</h1>
    </header>

    <main>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum, earum? Eveniet esse minus excepturi ipsum
            eos, repellat eligendi, quam odio error dolore pariatur odit omnis, animi amet! Animi ipsum odio laborum
            velit soluta optio at, quibusdam nostrum libero repellat dolore provident eum commodi recusandae, illo
            molestias, porro maiores dicta doloribus non. Ipsam ea molestias dolor repudiandae dolores maiores id eius,
            architecto ab quibusdam repellat esse et dolorem, nisi doloremque beatae placeat fuga optio. Laboriosam
            iste, amet alias expedita a rem delectus itaque. Excepturi doloremque dolore, perspiciatis numquam
            praesentium, laborum adipisci consequuntur saepe ipsam, eum iste impedit optio fugiat sed repellat!</p>
    </main>

    <footer>
        <span th:text="&copy; + {currentYear}"></span>
    </footer>
</body>

</html>